In [1]:
# Importando librerias
import numpy as np
import pandas as pd

In [2]:
datadf = pd.read_csv("data.csv",sep = ";")
datadf.head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
0,1,female,yes,yes,38.0,33,Postdoctoral_research,5,5,5,3,3,2,5,4,5,4,2004
1,2,male,no,yes,36.0,31,Postdoctoral_research,3,4,4,4,4,3,5,4,4,2,2002
2,3,male,yes,no,30.0,19,PhD_Student,5,5,5,4,5,4,5,4,5,5,2016
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
4,5,female,yes,no,37.0,31,PhD_Student,4,3,5,2,4,4,5,3,5,4,2001

In [3]:

# Muestra los tipos de datos
datadf.dtypes

id                int64
Gender           object
Python_user      object
R_user           object
Age             float64
Publications      int64
Tasks            object
Q1                int64
Q2                int64
Q3                int64
Q4                int64
Q5                int64
Q6                int64
Q7                int64
Q8                int64
Q9                int64
Q10               int64
Year              int64
dtype: object

In [4]:
datadf['Age'].mean()

37.05555555555556

In [5]:
datadf['Age'][60:69]

60    39.0
61    48.0
62    32.0
63    39.0
64    34.0
65     NaN
66    46.0
67    38.0
68    41.0
Name: Age, dtype: float64

<h2 style="color:blue">1.- Normality Tests</h2>

<h3 style="color:teal">Numerically</h3>

In [8]:
# Muestra los edades agrupadas
#datadf['Age'].value_counts()
print(np.isnan(datadf['Age'][64]))
print(np.isnan(datadf['Age'][65]))
print(np.isnan(datadf['Age'][66]))

# Obtenemos la media
mean_age = datadf['Age'].mean()

# Reemplaza los datos faltantes con la media.
# Se muestran 2 formas
#datadf['Age'][np.isnan(datadf['Age'])] = mean_age
datadf['Age'] = datadf['Age'].fillna(mean_age)

False
True
False

<h3 style="color:teal">Shapiro Test</h3>

Hipotesis:

$H_0$: La variable tiene distribución normal (hipotesis nula)<br>
$H_1$: La variable no tiene distribución normal (hipotesis alterna)

In [9]:
### Shapiro-Wilk normality test for Age and Publications variables

# Import packages
import scipy
from scipy import stats

In [10]:
# Shapiro-Wilk test for Age variables
stats.shapiro(datadf['Age'])

(0.9920958876609802, 0.3522576689720154)

Como p.valor = 0.3523 > 0.05, se tiene sufiiente evidencia estadistica para aceptar la hipotesis nula, por lo tanto la variable Age cumple el supuesto de normalidad

In [11]:
# Shapiro-Wilk test for Publications variables
stats.shapiro(datadf['Publications'])

(0.9592043161392212, 1.6238263924606144e-05)

<h3 style="color:teal">Kolmogorov-Smirnov</h3>

Hipotesis:

$H_0$: La variable tiene distribución normal (hipotesis nula)<br>
$H_1$: La variable no tiene distribución normal (hipotesis alterna)

In [12]:
# SALE CUALQUIER VALOE

#'''
# Perform test KS test against a normal distribution with
# mean = 5 and sd = 3
stats.kstest(datadf['Age'], 'norm', args=(5, 3))
#'''

KstestResult(statistic=0.9999999998800397, pvalue=0.0)

In [15]:
import rpy2.robjects as ro

# Ver version de R
print(ro.r('R.version.string'))

[1] "R version 3.6.1 (2019-07-05)"

In [20]:
### Kolmogorov-Smirnov normality test for Age and Publications variables
#'''
# Import packages
import rpy2.robjects as ro

ro.r('data_df <- read.csv("data.csv",sep=";")')

# Reading the R’s package zoo, needed to apply na.aggregatefunction
ro.r('install.packages("zoo")')
ro.r('library(zoo)')

# Kolmogorov-Smirnov Normal Distribution test for Age and Publications variables
print(ro.r('ks.test(na.aggregate(data_df$Age),rnorm(200, mean(na.aggregate(data_df$Age)), sd(na.aggregate(data_df$Age))))'))
print(ro.r('ks.test(data_df$Publications, rnorm(200, mean(data_df$Publications)))'))
#'''

RRuntimeError: Error in install.packages("zoo") : unable to install packages

<h2 style="color:blue">2.- Graphically</h2>